:root{
  --SidebarBackgroundImage :url(./assets/check-background.jpg);
}


.App {
  margin: 0px auto;
  padding: 0;

  max-width: 1350px;
  height: 100vh;

  display: grid;
  grid-template-areas: 
  "header header"
  "leftbar main";
  grid-template-columns: 230px auto;
  grid-template-rows: 36px auto;
}

@media screen and (max-width: 768px){
  .App {
    min-width: 360px;

    display: grid;
    grid-template-areas: 
    "header"
    "topbar"
    "main";
    grid-template-columns: auto;
    grid-template-rows: 36px 70px auto;
  }
}


/* #region メイン関連 */

.main h2{
  text-align: center;
}

.main p{
  text-align: center;
}

.main span {
  display: inline-block;
}

.main{
  grid-area: main;
  background-color:rgb(218, 218, 218);
  overflow: scroll;
  overflow-x: hidden;
  padding-block: 70px;
  padding-inline: 6%;
}

.main-title-pos{
  text-align: center;
  margin-bottom: 40px;
}

.entry-pos{
  text-align: center;
  line-height: 25px;
  padding-block: 30px;
  margin-block: 20px;
  /* background-color: #0000EE; */

}

.entries{
  padding-block: 20px;
}

.entry-thumb-pos{
  list-style: none;
  padding-block: 10px;
  margin-top: 10px;
}

.entry-thumb-box {
  width:90%;
  max-width: 850px;
  height: 150px;
  margin: auto;
  border-style: inset;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  line-height: 40px;
  /* background-color: #ffffff; */
  border-color: #500000;
  text-overflow: ellipsis;

  display: grid;
  grid-template-areas: 
  "thumb title"
  "thumb text";
  grid-template-columns: 150px auto;
  grid-template-rows: 65px 85px;
}

.non-a{
  color: black;
  cursor: default;
  text-decoration: none;
}

.entry-thumb-img-pos {
  grid-area: thumb;
  background-color: #666666;
  width: 100%;
  height: 100%;
  max-width: 128px;
  max-height: 128px;
  margin: auto;
  overflow: hidden;
}

.entry-thumb-img {
  width: 128px;
  height: 128px;
}

.entry-thumb-title{
  grid-area: title;
  max-width: 100%;
  max-height: 100%;
  padding-inline: 25px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: x-large;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.entry-thumb-text{
  grid-area: text;
  max-width: 100%;
  max-height: 100%;
  padding-inline: 25px;
  padding-block: 10px;
  font-size: large;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 768px){
  .entry-thumb-box {
    grid-template-columns: 0px auto;
  }
  .entry-thumb-title{
    padding-inline: 42px;
  }
  .entry-thumb-text{
    padding-inline: 42px;
  }
}

.new-entry{
  font-size: large;
  padding-block: 5px;
  line-height: 40px;
  list-style: none;
}

h3{
  padding-block: 10px;
}

.textarea-title{
  resize: none;
  width: 800px;
  max-width: 100%;
  font-size: large;
}
.textarea-text{
  resize: none;
  width: 800px;
  max-width: 100%;
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: large;
}
.post-type-radio-pos{
  padding-block: 5px;
  margin-bottom: 10px;
}

.post-type-radio{
  margin-inline: 12px;
  font-size: large;
}

.illust-buttons-pos{
  padding-inline: 5%;
  margin: auto;
  margin-bottom: 30px;
  overflow-wrap: break-word;
}

.like-a {
  color: #0000EE;
  border-bottom: 1px solid;
  font-size: xx-large;
  margin: 4px;
  }
  @media screen and (max-width: 768px){
  .like-a {
    font-size: x-large;
    margin: 3px;
  }
}

.like-a:visited {
  color: #551A8B;
  border-bottom: 1px solid;
  }

.like-a:active {
  color: #FF0000;
  border-bottom: 1px solid;
}

.like-a:hover{
  cursor: pointer;
}

.illust-pos{
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
}

.illust-img {
  width: 100%;
  height: auto;
}

.illust-img-port {
  width: 70%;
  height: auto;
}
@media screen and (max-width: 768px){
  .illust-img-port {
    width: 100%;
    height: auto;
  }
}

.links-pos{
  margin: 50px;
  margin-top: 70px;
}

.link{
  margin-bottom: 10px;
}

.link-name{
  list-style: inside;
}

.link-description{
  list-style: none;
  margin-left:40px;
}

.game-pos{
  margin-inline: auto;
  height: 600px;
  background: #000;
  /* overflow: hidden; */
  text-align: center;
}

.game-description{
  margin-top: 30px;
  text-align: center;
}

/* #endregion */ 

/* #region ヘッダー関連 */
.header {
  width: 100%;
  grid-area: header;
  background: #000;
  overflow: hidden;
}

.marquee{
  animation: marquee 25s linear infinite;
  --child-width:10px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-700px);
  }
}

.gaming {
  animation: gaming 2s linear infinite;
}

@keyframes gaming {
  0% {color: red}
  8% {color: #ff7f00}
  16% {color: #ff0}
  25% {color: #7fff00}
  33% {color: #0f0}
  41% {color: #00ff7f}
  50% {color: #0ff}
  58% {color: #007fff}
  66% {color: #00f}
  75% {color: #7f00ff}
  83% {color: #f0f}
  91% {color: #ff007f}
}

.gaming h2 {
  text-align: left;
  white-space: nowrap;
}

.title-margin {
  margin-left: 0px;
  margin-right: 50px;
}

/* #endregion */ 

/* #region サイドバー関連 */
.sidebar p{
  text-align: center;
}

.sidebar {
  grid-area: leftbar;
  overflow: scroll;
  overflow-x: hidden;
  background-image: var(--SidebarBackgroundImage);  
}

.sidebar-contents {
  padding-top: 25px;
}

.sidebar-access-counter {
  padding-top: 10px;
  padding-bottom: 10px;
}

.access-counter-pos {
  margin: auto;
  width: 180px;
  height: 25px;
  background-color: #000;
  text-align: center;
  line-height: 25px;
  text-indent: 0.6em;
  letter-spacing: 0.6em;
  color: white;
}

.sidebar-profile{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.my-name{
  text-align: center;
  font-size: large;
}

.my-icon-pos{
  text-align: center;
  margin: auto;
  width:170px;
  height:170px;
  /* background-color: #00f; */
  padding: 10px;
}

.my-icon-img{
  width:170px;
  height: auto;
  margin: auto;
}

.my-introduction{
  margin-top: 5px;
  text-align: center;
}

.sidebar-link{
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  width: 100%;
}

.headline{
  font-family: Monotype Corsiva;
  font-style: italic;
  font-size: x-large;
  font-weight: 600;
  list-style: none;
  text-align: left;
  margin-left: 20px;
}

.rows{
  padding-top: 5px;
  padding-bottom: 5px;
}

.row{
  line-height: 25px;
  list-style: none;
  text-align: left;
  text-decoration: underline;
  margin-left: 25px;
  margin-top: 5px;
}

.margin-test{
  margin-top: 70px;
}

.hidden{
  text-align: right;
  font-size: x-small;
}
/* #endregion */ 

/* #region トップバー関連 */
.topbar {
  grid-area: topbar;
  overflow: hidden;
  background-image: var(--SidebarBackgroundImage);  
}

.topbar-contents {
  margin-top: 10px;
  margin-bottom: 10px;
}

.topbar-link{
  padding-top: 0px;
  padding-bottom: 0px;
}

.cols{
  text-align: center;
}

.col{
  line-height: 25px;
  list-style: none;
  display: inline;
  text-decoration: underline;
  margin: 7px;
}
/* #endregion */ 