:root{
  --SidebarBackgroundImage :url(./assets/check-background.jpg);
}


.App {
  margin: 0px auto;
  padding: 0;

  max-width: 1350px;
  height: 100vh;

  overflow: hidden;

  display: grid;
  grid-template-areas: 
  "header header"
  "leftbar main";
  grid-template-columns: 230px auto;
  grid-template-rows: 36px auto;
}

@media screen and (max-width: 768px){
  .App {
    min-width: 360px;

    display: grid;
    grid-template-areas: 
    "header"
    "topbar"
    "main";
    grid-template-columns: auto;
    grid-template-rows: 36px 70px auto;
  }
}


/* #region メイン関連 */
.main{
  grid-area: main;
  background-color:rgb(218, 218, 218);
  overflow: scroll;
  overflow-x: hidden;
  padding-block: 70px;
  padding-inline: 6%;
}

.main-title-pos{
  text-align: center;
  margin-bottom: 30px;
}

.main-text-pos{
  text-align: center;
}

/* #region memo */
.entry-pos{
  text-align: center;
  line-height: 25px;
  padding-block: 15px;
  margin-block: 20px;
  /* background-color: #0000EE; */
}
.entry-title-pos {
  padding-block: 20px;
  margin-bottom: 5px;
}

.entry-params-title-pos{
  padding-top: 10px;
  padding-bottom: 10px;
}

.entry-text-pos{
  width: calc(100% - 40px);
  max-width: 750px;
  min-height: 200px;
  padding-inline: 20px;
  padding-block: 10px;
  margin-block: 20px;
  margin-inline: auto;
  text-align: left;
}

.my-markdown-body{
  color-scheme: light !important;
  --color-prettylights-syntax-comment: #6e7781 !important;
  --color-prettylights-syntax-constant: #0550ae !important;
  --color-prettylights-syntax-entity: #8250df !important;
  --color-prettylights-syntax-storage-modifier-import: #24292f !important;
  --color-prettylights-syntax-entity-tag: #116329 !important;
  --color-prettylights-syntax-keyword: #cf222e !important;
  --color-prettylights-syntax-string: #0a3069 !important;
  --color-prettylights-syntax-variable: #953800 !important;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e !important;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa !important;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e !important;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa !important;
  --color-prettylights-syntax-carriage-return-bg: #cf222e !important;
  --color-prettylights-syntax-string-regexp: #116329 !important;
  --color-prettylights-syntax-markup-list: #3b2300 !important;
  --color-prettylights-syntax-markup-heading: #0550ae !important;
  --color-prettylights-syntax-markup-italic: #24292f !important;
  --color-prettylights-syntax-markup-bold: #24292f !important;
  --color-prettylights-syntax-markup-deleted-text: #82071e !important;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9 !important;
  --color-prettylights-syntax-markup-inserted-text: #116329 !important;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1 !important;
  --color-prettylights-syntax-markup-changed-text: #953800 !important;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5 !important;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2 !important;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae !important;
  --color-prettylights-syntax-meta-diff-range: #8250df !important;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a !important;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f !important;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069 !important;
  --color-fg-default: #24292f !important;
  --color-fg-muted: #57606a !important;
  --color-fg-subtle: #6e7781 !important;
  --color-canvas-subtle: #f6f8fa !important;
  --color-border-muted: hsla(210,18%,87%,1) !important;
  --color-neutral-muted: rgba(175,184,193,0.2) !important;
  --color-accent-fg: #0969da !important;
  --color-accent-emphasis: #0969da !important;
  --color-attention-subtle: #fff8c5 !important;
  --color-danger-fg: #cf222e !important;
  --color-canvas-default: rgba(0,0,0,0) !important;
  --color-border-muted: gray !important;
}

.delete-button{
  width: 160px;
  height: 40px;
  margin-block: 20px;
}

.entries{
  padding-block: 20px;
}

.entry-thumb-pos{
  list-style: none;
  padding-block: 10px;
  margin-top: 10px;
}

.entry-thumb-box {
  width:90%;
  max-width: 850px;
  height: 150px;
  margin: auto;
  border-style: inset;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  line-height: 40px;
  /* background-color: #ffffff; */
  border-color: #500000;
  text-overflow: ellipsis;

  display: grid;
  grid-template-areas: 
  "thumb title"
  "thumb text";
  grid-template-columns: 150px auto;
  grid-template-rows: 65px 85px;
}

.non-a{
  color: black;
  cursor: default;
  text-decoration: none;
}

.entry-thumb-img-pos {
  grid-area: thumb;
  background-color: #666666;
  width: 100%;
  height: 100%;
  max-width: 128px;
  max-height: 128px;
  margin: auto;
  overflow: hidden;
}

.entry-thumb-img {
  width: 128px;
  height: 128px;
}

.entry-thumb-title{
  grid-area: title;
  max-width: 100%;
  max-height: 100%;
  padding-inline: 25px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: x-large;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.entry-thumb-text{
  grid-area: text;
  max-width: 100%;
  max-height: 100%;
  padding-inline: 25px;
  padding-block: 10px;
  font-size: large;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 768px){
  .entry-thumb-box {
    grid-template-rows: auto 0px;
  }
  .entry-thumb-title{
    height: 80%;
    padding-inline: 30px;
    padding-top: 0;
    padding-bottom: 0;
    margin-block: auto;
    font-size: large;
    white-space: normal;
    overflow-wrap: break-word;
  }
  .entry-thumb-text{
    padding-inline: 42px;
  }
}

.new-entry{
  font-size: large;
  padding-block: 5px;
  line-height: 40px;
  list-style: none;
  overflow: hidden;
}

.textarea-title-pos{
  width: 100%;
  overflow: hidden;
}

.textarea-title{
  resize: none;
  width: calc(100% - 40px);
  max-width: 800px;
  overflow: hidden;
  font-size: large;
  padding-inline: 20px;
  height: 36px;
  line-height: 36px;
  white-space: nowrap;
}

.textarea-text-pos{
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.textarea-text{
  resize: none;
  width: calc(100% - 40px);
  max-width: 800px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: large;
  padding-inline: 20px;
  padding-block: 10px;
}

.post-type-radio-pos{
  padding-block: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.post-type-radio{
  margin-inline: 12px;
  font-size: large;
}

.thumb-radios-pos{
  margin: auto;
  width: 100%;
  max-width: 840px;
}

.thumb-radios{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumb-radio{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.thumb-pos{
  width: 128px;
  height: 128px;
  margin-bottom: 5px;
  background-color: #007fff;
}

.thumb{
  width: 100%;
  height: auto;
}

.submit-button{
  width: 100px;
  height: 40px;
  margin-block: 20px;
}
/* #endregion */ 

/* #region works */
.illust-buttons-pos{
  padding-inline: 5%;
  margin: auto;
  margin-bottom: 30px;
  overflow-wrap: break-word;
}

.like-a {
  color: #0000EE;
  border-bottom: 1px solid;
  font-size: xx-large;
  margin: 4px;
  }
  @media screen and (max-width: 768px){
  .like-a {
    font-size: x-large;
    margin: 3px;
  }
}

.like-a:visited {
  color: #551A8B;
  border-bottom: 1px solid;
  }

.like-a:active {
  color: #FF0000;
  border-bottom: 1px solid;
}

.like-a:hover{
  cursor: pointer;
}

.illust-pos{
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
}

.illust-img {
  width: 100%;
  height: auto;
}

.illust-img-port {
  width: 70%;
  height: auto;
}
@media screen and (max-width: 768px){
  .illust-img-port {
    width: 100%;
    height: auto;
  }
}
/* #endregion */ 

/* #region links */
.links-pos{
  margin: 50px;
  margin-top: 70px;
}

.link{
  margin-bottom: 10px;
}

.link span{
  display: inline-block;
}

.link-name{
  list-style: inside;
}

.link-description{
  list-style: none;
  margin-left:40px;
}
/* #endregion */ 

/* #region game */
.game-pos{
  margin-inline: auto;
  height: 600px;
  background: #000;
  /* overflow: hidden; */
  text-align: center;
  margin-bottom: 30px;
}

/* #endregion */ 

/* #endregion */ 

/* #region ヘッダー関連 */
.header {
  width: 100%;
  grid-area: header;
  background: #000;
  overflow: hidden;
}

.marquee{
  animation: marquee 25s linear infinite;
  --child-width:10px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-700px);
  }
}

.gaming {
  animation: gaming 2s linear infinite;
}

@keyframes gaming {
  0% {color: red}
  8% {color: #ff7f00}
  16% {color: #ff0}
  25% {color: #7fff00}
  33% {color: #0f0}
  41% {color: #00ff7f}
  50% {color: #0ff}
  58% {color: #007fff}
  66% {color: #00f}
  75% {color: #7f00ff}
  83% {color: #f0f}
  91% {color: #ff007f}
}

.gaming h2 {
  text-align: left;
  white-space: nowrap;
}

.title-margin {
  margin-left: 0px;
  margin-right: 50px;
}

/* #endregion */ 

/* #region サイドバー関連 */
.sidebar p{
  text-align: center;
}

.sidebar {
  grid-area: leftbar;
  overflow: scroll;
  overflow-x: hidden;
  background-image: var(--SidebarBackgroundImage);  
}

.sidebar-contents {
  padding-top: 25px;
}

.sidebar-access-counter {
  padding-top: 10px;
  padding-bottom: 10px;
}

.access-counter-pos {
  margin: auto;
  width: 180px;
  height: 25px;
  background-color: #000;
  text-align: center;
  line-height: 25px;
  text-indent: 0.6em;
  letter-spacing: 0.6em;
  color: white;
}

.sidebar-profile{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.my-name{
  text-align: center;
  font-size: large;
}

.my-icon-pos{
  text-align: center;
  margin: auto;
  width:170px;
  height:170px;
  /* background-color: #00f; */
  padding: 10px;
}

.my-icon-img{
  width:170px;
  height: auto;
  margin: auto;
}

.my-introduction{
  margin-top: 5px;
  text-align: center;
}

.sidebar-link{
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  width: 100%;
}

.headline{
  font-family: Monotype Corsiva;
  font-style: italic;
  font-size: x-large;
  font-weight: 600;
  list-style: none;
  text-align: left;
  margin-left: 20px;
}

.rows{
  padding-top: 5px;
  padding-bottom: 5px;
}

.row{
  line-height: 25px;
  list-style: none;
  text-align: left;
  text-decoration: underline;
  margin-left: 25px;
  margin-top: 5px;
}

.margin-test{
  margin-top: 70px;
}

.hidden{
  text-align: right;
  font-size: x-small;
}
/* #endregion */ 

/* #region トップバー関連 */
.topbar {
  grid-area: topbar;
  overflow: hidden;
  background-image: var(--SidebarBackgroundImage);  
}

.topbar-contents {
  margin-top: 10px;
  margin-bottom: 10px;
}

.topbar-link{
  padding-top: 0px;
  padding-bottom: 0px;
}

.cols{
  text-align: center;
}

.col{
  line-height: 25px;
  list-style: none;
  display: inline;
  text-decoration: underline;
  margin: 7px;
}
/* #endregion */ 