:root{
  --SidebarBackgroundImage :url(./assets/check-background.jpg);
  --MainBackgroundImage :url(./assets/dot-background.png);
}


.App {
  margin: 0px auto;
  padding: 0;

  max-width: 1350px;
  min-width: 320px;
  height: 100vh;

  display: grid;
  grid-template-areas: 
  "header header"
  "leftbar main";
  grid-template-columns: 220px auto;
  grid-template-rows: 36px auto;
}


/* メイン関連 */
h2{
  text-align: center;
}

p{
  text-align: center;
}

.main{
  grid-area: main;
  background-color:rgb(218, 218, 218);
  /* background-image: var(--MainBackgroundImage); */
  overflow: scroll;
  overflow-x: hidden;
}

.main-title-pos{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.illust-buttons-pos{
  width:80%;
  margin: auto;
  margin-bottom: 30px;
  overflow-wrap: break-word;
}

.like-a {
  color: #0000EE;
  border-bottom: 1px solid;
  font-size: xx-large;
  margin: 4px;
 }
 
.like-a:visited {
  color: #551A8B;
  border-bottom: 1px solid;
 }
 
.like-a:active {
  color: #FF0000;
  border-bottom: 1px solid;
}

.like-a:hover{
  cursor: pointer;
}

.illust-pos{
  width: 88%;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
}

.illust-img {
  width: 100%;
  height: auto;
}

.illust-img-port {
  width: 70%;
  height: auto;
}

.links-pos{
  margin: 50px;
  margin-top: 70px;
}

.link{
  margin-bottom: 10px;
}

.link-name{
  list-style: inside;
}

.link-description{
  list-style: none;
  margin-left:40px;
}

.game-pos{
  text-align: center;
  height: 600px;
  background: #000;
}

.game-description{
  margin-top: 30px;
  text-align: center;
}

/* ヘッダー関連 */
.header {
  width: 100%;
  grid-area: header;
  background: #000;
}

.gaming {
  animation: gaming 2s linear infinite;
}

@keyframes gaming {
  0% {color: red}
  8% {color: #ff7f00}
  16% {color: #ff0}
  25% {color: #7fff00}
  33% {color: #0f0}
  41% {color: #00ff7f}
  50% {color: #0ff}
  58% {color: #007fff}
  66% {color: #00f}
  75% {color: #7f00ff}
  83% {color: #f0f}
  91% {color: #ff007f}
}

.title-margin {
  margin-left: 0px;
  margin-right: 50px;
}


/* サイドバー関連 */
.sidebar {
  grid-area: leftbar;
  overflow: scroll;
  overflow-x: hidden;
  background-image: var(--SidebarBackgroundImage);  
}

.sidebar-profile{
  text-align: center;
  padding-top: 30px;
}

.my-name{
  font-size: large;
}

.my-icon-pos{
  margin: auto;
  width:170px;
  height:170px;
  background-color: #00f;
  margin-bottom: 30px;
}

.my-icon-img{
  width:170px;
  height:auto;
  margin: auto;
}

.sidebar-link{
  height: 100%;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.headline{
  font-family: Monotype Corsiva;
  font-style: italic;
  font-size: x-large;
  font-weight: 600;
  list-style: none;
  text-align: left;
  margin-left: 20px;
}

.rows{
  margin-top: 5px;
  margin-bottom: 5px;
}

.row{
  line-height: 25px;
  list-style: none;
  text-align: left;
  text-decoration: underline;
  margin-left: 25px;
  margin-top: 5px;
}

.margin-test{
  margin-top: 300px;
}

.hidden{
  text-align: right;
  font-size: x-small;
}